h1 {
  font-style: italic;
  font-size: 72px;
  color: black;
}
table.bordered-table th,
td {
  border: 1px solid silver;
  padding: 4px;
}
table.bordered-table {
  border-collapse: collapse;
}

.masterContainer {
  display: block;
  margin-left: 1em;
  margin-right: 1em;
}

.adj {
  margin-top: 75px;
}
.colorInherit {
  color: white;
}

select {
  margin: 1px;
  padding: 10px 26px 10px 12px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
}
select:hover {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
select option {
  padding: 3px;
}

.alignmentModel {
  padding: 20px;
  vertical-align: middle;
}
